svg(width="83px" height="26px" viewBox="0 0 83 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    g#coko-text(transform="translate(32.000000, 3.000000)")
        path(d="M4.5457,2.5237 L5.1387,1.7777 C4.6217,1.2527 3.8457,0.9257 3.0847,0.9257 C1.4947,0.9257 0.2697,2.0897 0.2697,3.6117 C0.2697,5.1487 1.4797,6.3277 3.0467,6.3277 C3.8157,6.3277 4.5987,5.9707 5.1467,5.4147 L4.5457,4.7457 C4.1497,5.1337 3.6097,5.3697 3.1007,5.3697 C2.0957,5.3697 1.3117,4.5937 1.3117,3.5967 C1.3117,2.6077 2.0957,1.8317 3.1007,1.8317 C3.6247,1.8317 4.1647,2.0977 4.5457,2.5237")
        path(d="M7.6122,3.0336 C8.2892,3.0336 8.7612,3.5276 8.7612,4.2586 C8.7612,4.9886 8.2892,5.4916 7.6122,5.4916 C6.9422,5.4916 6.4712,4.9886 6.4712,4.2586 C6.4712,3.5276 6.9422,3.0336 7.6122,3.0336 M7.6122,2.1816 C6.3412,2.1816 5.4662,3.0106 5.4662,4.2436 C5.4662,5.4836 6.3412,6.3206 7.6122,6.3206 C8.8902,6.3206 9.7652,5.4836 9.7652,4.2436 C9.7652,3.0106 8.8902,2.1816 7.6122,2.1816")
        polygon(points="10.663 6.283 11.652 6.283 11.652 0.637 10.663 0.637")
        polygon(points="12.96 6.283 13.95 6.283 13.95 0.637 12.96 0.637")
        path(d="M16.5446,5.5672 C17.1156,5.5672 17.5646,5.2632 17.6176,4.8672 L17.6176,4.5022 L16.5896,4.5022 C16.0656,4.5022 15.8216,4.6462 15.8216,5.0042 C15.8216,5.3462 16.0956,5.5672 16.5446,5.5672 Z M18.5986,6.2822 L17.6246,6.2822 L17.6246,5.7882 C17.3436,6.1452 16.8876,6.3282 16.3086,6.3282 C15.4336,6.3282 14.8856,5.7882 14.8856,5.0652 C14.8856,4.3112 15.4416,3.8472 16.4306,3.8402 L17.6176,3.8402 L17.6176,3.7332 C17.6176,3.2622 17.3056,2.9802 16.6966,2.9802 C16.3166,2.9802 15.9056,3.1092 15.4866,3.3602 L15.1296,2.6762 C15.7146,2.3492 16.1716,2.1732 16.9176,2.1732 C17.9826,2.1732 18.5836,2.7142 18.5916,3.6192 L18.5986,6.2822 Z")
        path(d="M21.886,5.4683 C21.209,5.4683 20.737,4.9663 20.737,4.2353 C20.737,3.5203 21.209,3.0103 21.886,3.0103 C22.555,3.0103 23.027,3.5203 23.027,4.2353 C23.027,4.9583 22.555,5.4683 21.886,5.4683 M22.106,2.1813 C21.498,2.1813 21.026,2.4323 20.737,2.8813 L20.737,0.6363 L19.748,0.6363 L19.748,6.2823 L20.737,6.2823 L20.737,5.6203 C21.034,6.0693 21.505,6.3203 22.122,6.3203 C23.278,6.3203 24.032,5.4913 24.032,4.2663 C24.032,3.0183 23.255,2.1813 22.106,2.1813")
        path(d="M26.6641,3.0336 C27.3411,3.0336 27.8131,3.5276 27.8131,4.2586 C27.8131,4.9886 27.3411,5.4916 26.6641,5.4916 C25.9951,5.4916 25.5231,4.9886 25.5231,4.2586 C25.5231,3.5276 25.9951,3.0336 26.6641,3.0336 M26.6641,2.1816 C25.3931,2.1816 24.5181,3.0106 24.5181,4.2436 C24.5181,5.4836 25.3931,6.3206 26.6641,6.3206 C27.9431,6.3206 28.8171,5.4836 28.8171,4.2436 C28.8171,3.0106 27.9431,2.1816 26.6641,2.1816")
        path(d="M30.6665,2.9956 L30.6665,2.2116 L29.6775,2.2116 L29.6775,6.2826 L30.6665,6.2826 L30.6665,4.3196 C30.6665,3.5816 31.1905,3.0786 32.0505,3.1326 L32.0505,2.1736 C31.4195,2.1816 30.9405,2.4626 30.6665,2.9956")
        path(d="M33.9229,5.5672 C33.4739,5.5672 33.1999,5.3462 33.1999,5.0042 C33.1999,4.6462 33.4439,4.5022 33.9679,4.5022 L34.9959,4.5022 L34.9959,4.8672 C34.9419,5.2632 34.4939,5.5672 33.9229,5.5672 L33.9229,5.5672 Z M35.9769,6.2822 L35.9699,3.6192 C35.9619,2.7142 35.3609,2.1732 34.2959,2.1732 C33.5499,2.1732 33.0929,2.3492 32.5079,2.6762 L32.8649,3.3602 C33.2839,3.1092 33.6949,2.9802 34.0749,2.9802 C34.6839,2.9802 34.9959,3.2622 34.9959,3.7332 L34.9959,3.8402 L33.8089,3.8402 C32.8199,3.8472 32.2639,4.3112 32.2639,5.0652 C32.2639,5.7882 32.8119,6.3282 33.6869,6.3282 C34.2649,6.3282 34.7219,6.1452 35.0039,5.7882 L35.0039,6.2822 L35.9769,6.2822 Z")
        path(d="M39.2413,5.2856 C39.0203,5.3926 38.8303,5.4526 38.6633,5.4526 C38.3963,5.4526 38.2373,5.3236 38.2373,4.9356 L38.2373,3.1016 L39.4013,3.1016 L39.4013,2.3796 L38.2373,2.3796 L38.2373,1.2606 L37.2553,1.2606 L37.2553,2.3796 L36.6773,2.3796 L36.6843,3.1016 L37.2553,3.1016 L37.2553,5.1106 C37.2553,5.9476 37.7883,6.3276 38.4493,6.3276 C38.8073,6.3276 39.1573,6.2216 39.4693,6.0316 L39.2413,5.2856 Z")
        path(d="M40.246,6.282 L41.235,6.282 L41.235,2.212 L40.246,2.212 L40.246,6.282 Z M40.74,0.462 C40.413,0.462 40.185,0.705 40.185,1.048 C40.185,1.382 40.413,1.634 40.74,1.634 C41.067,1.634 41.295,1.382 41.295,1.048 C41.295,0.705 41.067,0.462 40.74,0.462 L40.74,0.462 Z")
        polygon(points="41.8358 2.2195 43.4028 6.2825 44.4228 6.2825 45.9748 2.2115 44.9778 2.2115 43.9358 5.3085 42.8698 2.2115")
        path(d="M47.0171,3.9316 C47.1091,3.3306 47.5201,2.9496 48.1061,2.9496 C48.7211,2.9496 49.1251,3.3306 49.1481,3.9316 L47.0171,3.9316 Z M48.0981,2.1816 C46.8811,2.1816 46.0281,3.0186 46.0281,4.2586 C46.0281,5.4836 46.8571,6.3206 48.1201,6.3206 C48.8361,6.3206 49.4291,6.0616 49.8331,5.6206 L49.3001,5.0646 C49.0111,5.3616 48.6231,5.5216 48.2041,5.5216 C47.6111,5.5216 47.1691,5.1716 47.0401,4.5936 L50.0461,4.5936 C50.1441,3.1166 49.5281,2.1816 48.0981,2.1816 L48.0981,2.1816 Z")
        polygon(points="5.4511 13.8915 3.2751 10.8175 5.3071 8.5645 4.1201 8.5645 1.7071 11.1675 1.7071 8.5645 0.6881 8.5645 0.6881 13.8915 1.7071 13.8915 1.7071 12.5525 2.5601 11.6085 4.2181 13.8915")
        path(d="M8.624,9.7825 C7.962,9.7905 7.452,10.0415 7.163,10.5815 L7.163,9.8205 L6.174,9.8205 L6.174,13.8915 L7.163,13.8915 L7.163,11.8905 C7.163,11.2205 7.559,10.7255 8.228,10.7185 C8.791,10.7185 9.133,11.0685 9.133,11.6395 L9.133,13.8915 L10.131,13.8915 L10.131,11.3495 C10.131,10.3835 9.559,9.7825 8.624,9.7825")
        path(d="M13.0141,10.642 C13.6921,10.642 14.1631,11.137 14.1631,11.867 C14.1631,12.598 13.6921,13.099 13.0141,13.099 C12.3451,13.099 11.8731,12.598 11.8731,11.867 C11.8731,11.137 12.3451,10.642 13.0141,10.642 M13.0141,9.79 C11.7431,9.79 10.8681,10.619 10.8681,11.852 C10.8681,13.092 11.7431,13.929 13.0141,13.929 C14.2921,13.929 15.1671,13.092 15.1671,11.852 C15.1671,10.619 14.2921,9.79 13.0141,9.79")
        polygon(points="15.2589 9.828 16.7499 13.892 17.7619 13.892 18.7279 11.023 19.7019 13.892 20.7139 13.892 22.1899 9.82 21.1939 9.82 20.2189 12.894 19.2379 9.82 18.2409 9.82 17.2749 12.894 16.2779 9.82")
        polygon(points="22.806 13.891 23.795 13.891 23.795 8.245 22.806 8.245")
        path(d="M25.6826,11.5398 C25.7736,10.9388 26.1846,10.5588 26.7706,10.5588 C27.3876,10.5588 27.7896,10.9388 27.8136,11.5398 L25.6826,11.5398 Z M26.7626,9.7898 C25.5456,9.7898 24.6936,10.6268 24.6936,11.8668 C24.6936,13.0918 25.5226,13.9288 26.7856,13.9288 C27.5006,13.9288 28.0946,13.6708 28.4976,13.2288 L27.9646,12.6738 C27.6756,12.9698 27.2876,13.1308 26.8696,13.1308 C26.2756,13.1308 25.8346,12.7798 25.7056,12.2028 L28.7106,12.2028 C28.8096,10.7258 28.1936,9.7898 26.7626,9.7898 L26.7626,9.7898 Z")
        path(d="M31.3508,13.1078 C30.6668,13.1078 30.2018,12.5978 30.1948,11.8668 C30.2018,11.1448 30.6738,10.6268 31.3508,10.6268 C32.0358,10.6268 32.5078,11.1368 32.5078,11.8668 C32.5078,12.5978 32.0358,13.1078 31.3508,13.1078 L31.3508,13.1078 Z M32.5078,8.2458 L32.5078,10.4898 C32.2108,10.0338 31.7388,9.7828 31.1148,9.7828 C29.9738,9.7828 29.1978,10.6118 29.1978,11.8448 C29.1978,13.0848 29.9738,13.9368 31.1388,13.9368 C31.7468,13.9368 32.2178,13.6858 32.5078,13.2368 L32.5078,13.8918 L33.4968,13.8918 L33.4968,8.2458 L32.5078,8.2458 Z")
        path(d="M36.4185,12.9092 C35.7715,12.9092 35.3375,12.4302 35.3305,11.7462 C35.3375,11.0682 35.7795,10.5812 36.4185,10.5812 C37.0575,10.5812 37.4985,11.0602 37.4985,11.7462 C37.4985,12.4302 37.0575,12.9092 36.4185,12.9092 L36.4185,12.9092 Z M37.4985,9.8202 L37.4985,10.4292 C37.2175,10.0182 36.7605,9.7822 36.1745,9.7902 C35.1175,9.7902 34.3945,10.5732 34.3945,11.7222 C34.3945,12.8942 35.1245,13.6852 36.2055,13.6852 C36.7835,13.6852 37.2245,13.4572 37.4985,13.0472 L37.4985,13.5262 C37.4985,14.1722 37.0345,14.5762 36.3045,14.5762 C35.8175,14.5762 35.4065,14.4242 35.0335,14.1502 L34.6385,14.8652 C35.1175,15.1922 35.7035,15.4052 36.3575,15.4052 C37.6435,15.4052 38.4875,14.6672 38.4875,13.5032 L38.4875,9.8202 L37.4985,9.8202 Z")
        path(d="M40.2682,11.5398 C40.3592,10.9388 40.7712,10.5588 41.3562,10.5588 C41.9732,10.5588 42.3762,10.9388 42.3992,11.5398 L40.2682,11.5398 Z M41.3492,9.7898 C40.1322,9.7898 39.2792,10.6268 39.2792,11.8668 C39.2792,13.0918 40.1082,13.9288 41.3712,13.9288 C42.0862,13.9288 42.6802,13.6708 43.0832,13.2288 L42.5512,12.6738 C42.2622,12.9698 41.8742,13.1308 41.4552,13.1308 C40.8622,13.1308 40.4202,12.7798 40.2912,12.2028 L43.2972,12.2028 C43.3952,10.7258 42.7792,9.7898 41.3492,9.7898 L41.3492,9.7898 Z")
        polygon(points="0.688 16.1739 0.688 21.4999 1.707 21.4999 1.707 19.3919 4.12 19.3919 4.12 18.5019 1.707 18.5019 1.707 17.0639 4.355 17.0639 4.363 16.1739")
        path(d="M6.859,18.2511 C6.189,18.2511 5.718,18.7451 5.718,19.4761 C5.718,20.2061 6.189,20.7091 6.859,20.7091 C7.536,20.7091 8.008,20.2061 8.008,19.4761 C8.008,18.7451 7.536,18.2511 6.859,18.2511 Z M6.859,17.3991 C8.137,17.3991 9.012,18.2281 9.012,19.4601 C9.012,20.7011 8.137,21.5371 6.859,21.5371 C5.588,21.5371 4.713,20.7011 4.713,19.4601 C4.713,18.2281 5.588,17.3991 6.859,17.3991 Z")
        path(d="M12.6335,17.4291 L12.6335,19.4381 C12.6335,20.0921 12.2535,20.5941 11.6145,20.6021 C11.0665,20.6021 10.7395,20.2601 10.7395,19.6891 L10.7395,17.4291 L9.7425,17.4291 L9.7425,19.9781 C9.7425,20.9371 10.3055,21.5371 11.2185,21.5371 C11.8655,21.5371 12.3525,21.2871 12.6335,20.7461 L12.6335,21.5001 L13.6305,21.5001 L13.6305,17.4291 L12.6335,17.4291 Z")
        path(d="M17.3131,17.3915 C16.6511,17.3995 16.1411,17.6505 15.8521,18.1905 L15.8521,17.4295 L14.8631,17.4295 L14.8631,21.4995 L15.8521,21.4995 L15.8521,19.4985 C15.8521,18.8295 16.2481,18.3345 16.9171,18.3275 C17.4801,18.3275 17.8231,18.6765 17.8231,19.2475 L17.8231,21.4995 L18.8201,21.4995 L18.8201,18.9585 C18.8201,17.9925 18.2491,17.3915 17.3131,17.3915")
        path(d="M21.7107,20.7163 C21.0267,20.7163 20.5617,20.2063 20.5547,19.4763 C20.5617,18.7533 21.0337,18.2363 21.7107,18.2363 C22.3957,18.2363 22.8677,18.7453 22.8677,19.4763 C22.8677,20.2063 22.3957,20.7163 21.7107,20.7163 L21.7107,20.7163 Z M22.8677,15.8543 L22.8677,18.0983 C22.5707,17.6423 22.0987,17.3913 21.4747,17.3913 C20.3337,17.3913 19.5577,18.2203 19.5577,19.4523 C19.5577,20.6933 20.3337,21.5453 21.4977,21.5453 C22.1067,21.5453 22.5777,21.2943 22.8677,20.8453 L22.8677,21.5003 L23.8567,21.5003 L23.8567,15.8543 L22.8677,15.8543 Z")
        path(d="M26.4509,20.7847 C26.0019,20.7847 25.7289,20.5637 25.7289,20.2217 C25.7289,19.8637 25.9719,19.7187 26.4969,19.7187 L27.5239,19.7187 L27.5239,20.0847 C27.4709,20.4797 27.0219,20.7847 26.4509,20.7847 L26.4509,20.7847 Z M28.5059,21.4997 L28.4979,18.8367 C28.4909,17.9317 27.8889,17.3917 26.8239,17.3917 C26.0779,17.3917 25.6219,17.5657 25.0359,17.8927 L25.3939,18.5787 C25.8119,18.3267 26.2229,18.1977 26.6029,18.1977 C27.2119,18.1977 27.5239,18.4787 27.5239,18.9517 L27.5239,19.0577 L26.3369,19.0577 C25.3479,19.0647 24.7919,19.5297 24.7919,20.2827 C24.7919,21.0047 25.3399,21.5457 26.2149,21.5457 C26.7939,21.5457 27.2499,21.3627 27.5319,21.0047 L27.5319,21.4997 L28.5059,21.4997 Z")
        path(d="M31.7697,20.5035 C31.5487,20.6095 31.3587,20.6705 31.1907,20.6705 C30.9247,20.6705 30.7657,20.5415 30.7657,20.1535 L30.7657,18.3195 L31.9297,18.3195 L31.9297,17.5965 L30.7657,17.5965 L30.7657,16.4775 L29.7837,16.4775 L29.7837,17.5965 L29.2057,17.5965 L29.2127,18.3195 L29.7837,18.3195 L29.7837,20.3285 C29.7837,21.1655 30.3157,21.5455 30.9777,21.5455 C31.3357,21.5455 31.6857,21.4395 31.9977,21.2485 L31.7697,20.5035 Z")
        path(d="M32.774,21.5 L33.763,21.5 L33.763,17.429 L32.774,17.429 L32.774,21.5 Z M33.269,15.679 C32.941,15.679 32.713,15.923 32.713,16.265 C32.713,16.6 32.941,16.851 33.269,16.851 C33.595,16.851 33.824,16.6 33.824,16.265 C33.824,15.923 33.595,15.679 33.269,15.679 L33.269,15.679 Z")
        path(d="M36.7607,18.2511 C37.4377,18.2511 37.9097,18.7451 37.9097,19.4761 C37.9097,20.2061 37.4377,20.7091 36.7607,20.7091 C36.0917,20.7091 35.6197,20.2061 35.6197,19.4761 C35.6197,18.7451 36.0917,18.2511 36.7607,18.2511 M36.7607,17.3991 C35.4897,17.3991 34.6157,18.2281 34.6157,19.4601 C34.6157,20.7011 35.4897,21.5371 36.7607,21.5371 C38.0387,21.5371 38.9147,20.7011 38.9147,19.4601 C38.9147,18.2281 38.0387,17.3991 36.7607,17.3991")
        path(d="M42.2239,17.3915 C41.5619,17.3995 41.0519,17.6505 40.7629,18.1905 L40.7629,17.4295 L39.7739,17.4295 L39.7739,21.4995 L40.7629,21.4995 L40.7629,19.4985 C40.7629,18.8295 41.1589,18.3345 41.8279,18.3275 C42.3909,18.3275 42.7339,18.6765 42.7339,19.2475 L42.7339,21.4995 L43.7309,21.4995 L43.7309,18.9585 C43.7309,17.9925 43.1599,17.3915 42.2239,17.3915")
        path(d="M4.5457,2.5237 L5.1387,1.7777 C4.6217,1.2527 3.8457,0.9257 3.0847,0.9257 C1.4947,0.9257 0.2697,2.0897 0.2697,3.6117 C0.2697,5.1487 1.4797,6.3277 3.0467,6.3277 C3.8157,6.3277 4.5987,5.9707 5.1467,5.4147 L4.5457,4.7457 C4.1497,5.1337 3.6097,5.3697 3.1007,5.3697 C2.0957,5.3697 1.3117,4.5937 1.3117,3.5967 C1.3117,2.6077 2.0957,1.8317 3.1007,1.8317 C3.6247,1.8317 4.1647,2.0977 4.5457,2.5237")
        path(d="M7.6122,3.0336 C8.2892,3.0336 8.7612,3.5276 8.7612,4.2586 C8.7612,4.9886 8.2892,5.4916 7.6122,5.4916 C6.9422,5.4916 6.4712,4.9886 6.4712,4.2586 C6.4712,3.5276 6.9422,3.0336 7.6122,3.0336 M7.6122,2.1816 C6.3412,2.1816 5.4662,3.0106 5.4662,4.2436 C5.4662,5.4836 6.3412,6.3206 7.6122,6.3206 C8.8902,6.3206 9.7652,5.4836 9.7652,4.2436 C9.7652,3.0106 8.8902,2.1816 7.6122,2.1816")
        polygon(points="10.663 6.283 11.652 6.283 11.652 0.637 10.663 0.637")
        polygon(points="12.96 6.283 13.95 6.283 13.95 0.637 12.96 0.637")
        path(d="M16.5446,5.5672 C17.1156,5.5672 17.5646,5.2632 17.6176,4.8672 L17.6176,4.5022 L16.5896,4.5022 C16.0656,4.5022 15.8216,4.6462 15.8216,5.0042 C15.8216,5.3462 16.0956,5.5672 16.5446,5.5672 Z M18.5986,6.2822 L17.6246,6.2822 L17.6246,5.7882 C17.3436,6.1452 16.8876,6.3282 16.3086,6.3282 C15.4336,6.3282 14.8856,5.7882 14.8856,5.0652 C14.8856,4.3112 15.4416,3.8472 16.4306,3.8402 L17.6176,3.8402 L17.6176,3.7332 C17.6176,3.2622 17.3056,2.9802 16.6966,2.9802 C16.3166,2.9802 15.9056,3.1092 15.4866,3.3602 L15.1296,2.6762 C15.7146,2.3492 16.1716,2.1732 16.9176,2.1732 C17.9826,2.1732 18.5836,2.7142 18.5916,3.6192 L18.5986,6.2822 Z")
        path(d="M21.886,5.4683 C21.209,5.4683 20.737,4.9663 20.737,4.2353 C20.737,3.5203 21.209,3.0103 21.886,3.0103 C22.555,3.0103 23.027,3.5203 23.027,4.2353 C23.027,4.9583 22.555,5.4683 21.886,5.4683 M22.106,2.1813 C21.498,2.1813 21.026,2.4323 20.737,2.8813 L20.737,0.6363 L19.748,0.6363 L19.748,6.2823 L20.737,6.2823 L20.737,5.6203 C21.034,6.0693 21.505,6.3203 22.122,6.3203 C23.278,6.3203 24.032,5.4913 24.032,4.2663 C24.032,3.0183 23.255,2.1813 22.106,2.1813")
        path(d="M26.6641,3.0336 C27.3411,3.0336 27.8131,3.5276 27.8131,4.2586 C27.8131,4.9886 27.3411,5.4916 26.6641,5.4916 C25.9951,5.4916 25.5231,4.9886 25.5231,4.2586 C25.5231,3.5276 25.9951,3.0336 26.6641,3.0336 M26.6641,2.1816 C25.3931,2.1816 24.5181,3.0106 24.5181,4.2436 C24.5181,5.4836 25.3931,6.3206 26.6641,6.3206 C27.9431,6.3206 28.8171,5.4836 28.8171,4.2436 C28.8171,3.0106 27.9431,2.1816 26.6641,2.1816")
        path(d="M30.6665,2.9956 L30.6665,2.2116 L29.6775,2.2116 L29.6775,6.2826 L30.6665,6.2826 L30.6665,4.3196 C30.6665,3.5816 31.1905,3.0786 32.0505,3.1326 L32.0505,2.1736 C31.4195,2.1816 30.9405,2.4626 30.6665,2.9956")
        path(d="M33.9229,5.5672 C33.4739,5.5672 33.1999,5.3462 33.1999,5.0042 C33.1999,4.6462 33.4439,4.5022 33.9679,4.5022 L34.9959,4.5022 L34.9959,4.8672 C34.9419,5.2632 34.4939,5.5672 33.9229,5.5672 L33.9229,5.5672 Z M35.9769,6.2822 L35.9699,3.6192 C35.9619,2.7142 35.3609,2.1732 34.2959,2.1732 C33.5499,2.1732 33.0929,2.3492 32.5079,2.6762 L32.8649,3.3602 C33.2839,3.1092 33.6949,2.9802 34.0749,2.9802 C34.6839,2.9802 34.9959,3.2622 34.9959,3.7332 L34.9959,3.8402 L33.8089,3.8402 C32.8199,3.8472 32.2639,4.3112 32.2639,5.0652 C32.2639,5.7882 32.8119,6.3282 33.6869,6.3282 C34.2649,6.3282 34.7219,6.1452 35.0039,5.7882 L35.0039,6.2822 L35.9769,6.2822 Z")
        path(d="M39.2413,5.2856 C39.0203,5.3926 38.8303,5.4526 38.6633,5.4526 C38.3963,5.4526 38.2373,5.3236 38.2373,4.9356 L38.2373,3.1016 L39.4013,3.1016 L39.4013,2.3796 L38.2373,2.3796 L38.2373,1.2606 L37.2553,1.2606 L37.2553,2.3796 L36.6773,2.3796 L36.6843,3.1016 L37.2553,3.1016 L37.2553,5.1106 C37.2553,5.9476 37.7883,6.3276 38.4493,6.3276 C38.8073,6.3276 39.1573,6.2216 39.4693,6.0316 L39.2413,5.2856 Z")
        path(d="M40.246,6.282 L41.235,6.282 L41.235,2.212 L40.246,2.212 L40.246,6.282 Z M40.74,0.462 C40.413,0.462 40.185,0.705 40.185,1.048 C40.185,1.382 40.413,1.634 40.74,1.634 C41.067,1.634 41.295,1.382 41.295,1.048 C41.295,0.705 41.067,0.462 40.74,0.462 L40.74,0.462 Z")
        polygon(points="41.8358 2.2195 43.4028 6.2825 44.4228 6.2825 45.9748 2.2115 44.9778 2.2115 43.9358 5.3085 42.8698 2.2115")
        path(d="M47.0171,3.9316 C47.1091,3.3306 47.5201,2.9496 48.1061,2.9496 C48.7211,2.9496 49.1251,3.3306 49.1481,3.9316 L47.0171,3.9316 Z M48.0981,2.1816 C46.8811,2.1816 46.0281,3.0186 46.0281,4.2586 C46.0281,5.4836 46.8571,6.3206 48.1201,6.3206 C48.8361,6.3206 49.4291,6.0616 49.8331,5.6206 L49.3001,5.0646 C49.0111,5.3616 48.6231,5.5216 48.2041,5.5216 C47.6111,5.5216 47.1691,5.1716 47.0401,4.5936 L50.0461,4.5936 C50.1441,3.1166 49.5281,2.1816 48.0981,2.1816 L48.0981,2.1816 Z")
        polygon(points="5.4511 13.8915 3.2751 10.8175 5.3071 8.5645 4.1201 8.5645 1.7071 11.1675 1.7071 8.5645 0.6881 8.5645 0.6881 13.8915 1.7071 13.8915 1.7071 12.5525 2.5601 11.6085 4.2181 13.8915")
        path(d="M8.624,9.7825 C7.962,9.7905 7.452,10.0415 7.163,10.5815 L7.163,9.8205 L6.174,9.8205 L6.174,13.8915 L7.163,13.8915 L7.163,11.8905 C7.163,11.2205 7.559,10.7255 8.228,10.7185 C8.791,10.7185 9.133,11.0685 9.133,11.6395 L9.133,13.8915 L10.131,13.8915 L10.131,11.3495 C10.131,10.3835 9.559,9.7825 8.624,9.7825")
        path(d="M13.0141,10.642 C13.6921,10.642 14.1631,11.137 14.1631,11.867 C14.1631,12.598 13.6921,13.099 13.0141,13.099 C12.3451,13.099 11.8731,12.598 11.8731,11.867 C11.8731,11.137 12.3451,10.642 13.0141,10.642 M13.0141,9.79 C11.7431,9.79 10.8681,10.619 10.8681,11.852 C10.8681,13.092 11.7431,13.929 13.0141,13.929 C14.2921,13.929 15.1671,13.092 15.1671,11.852 C15.1671,10.619 14.2921,9.79 13.0141,9.79")
        polygon(points="15.2589 9.828 16.7499 13.892 17.7619 13.892 18.7279 11.023 19.7019 13.892 20.7139 13.892 22.1899 9.82 21.1939 9.82 20.2189 12.894 19.2379 9.82 18.2409 9.82 17.2749 12.894 16.2779 9.82")
        polygon(points="22.806 13.891 23.795 13.891 23.795 8.245 22.806 8.245")
        path(d="M25.6826,11.5398 C25.7736,10.9388 26.1846,10.5588 26.7706,10.5588 C27.3876,10.5588 27.7896,10.9388 27.8136,11.5398 L25.6826,11.5398 Z M26.7626,9.7898 C25.5456,9.7898 24.6936,10.6268 24.6936,11.8668 C24.6936,13.0918 25.5226,13.9288 26.7856,13.9288 C27.5006,13.9288 28.0946,13.6708 28.4976,13.2288 L27.9646,12.6738 C27.6756,12.9698 27.2876,13.1308 26.8696,13.1308 C26.2756,13.1308 25.8346,12.7798 25.7056,12.2028 L28.7106,12.2028 C28.8096,10.7258 28.1936,9.7898 26.7626,9.7898 L26.7626,9.7898 Z")
        path(d="M31.3508,13.1078 C30.6668,13.1078 30.2018,12.5978 30.1948,11.8668 C30.2018,11.1448 30.6738,10.6268 31.3508,10.6268 C32.0358,10.6268 32.5078,11.1368 32.5078,11.8668 C32.5078,12.5978 32.0358,13.1078 31.3508,13.1078 L31.3508,13.1078 Z M32.5078,8.2458 L32.5078,10.4898 C32.2108,10.0338 31.7388,9.7828 31.1148,9.7828 C29.9738,9.7828 29.1978,10.6118 29.1978,11.8448 C29.1978,13.0848 29.9738,13.9368 31.1388,13.9368 C31.7468,13.9368 32.2178,13.6858 32.5078,13.2368 L32.5078,13.8918 L33.4968,13.8918 L33.4968,8.2458 L32.5078,8.2458 Z")
        path(d="M36.4185,12.9092 C35.7715,12.9092 35.3375,12.4302 35.3305,11.7462 C35.3375,11.0682 35.7795,10.5812 36.4185,10.5812 C37.0575,10.5812 37.4985,11.0602 37.4985,11.7462 C37.4985,12.4302 37.0575,12.9092 36.4185,12.9092 L36.4185,12.9092 Z M37.4985,9.8202 L37.4985,10.4292 C37.2175,10.0182 36.7605,9.7822 36.1745,9.7902 C35.1175,9.7902 34.3945,10.5732 34.3945,11.7222 C34.3945,12.8942 35.1245,13.6852 36.2055,13.6852 C36.7835,13.6852 37.2245,13.4572 37.4985,13.0472 L37.4985,13.5262 C37.4985,14.1722 37.0345,14.5762 36.3045,14.5762 C35.8175,14.5762 35.4065,14.4242 35.0335,14.1502 L34.6385,14.8652 C35.1175,15.1922 35.7035,15.4052 36.3575,15.4052 C37.6435,15.4052 38.4875,14.6672 38.4875,13.5032 L38.4875,9.8202 L37.4985,9.8202 Z")
        path(d="M40.2682,11.5398 C40.3592,10.9388 40.7712,10.5588 41.3562,10.5588 C41.9732,10.5588 42.3762,10.9388 42.3992,11.5398 L40.2682,11.5398 Z M41.3492,9.7898 C40.1322,9.7898 39.2792,10.6268 39.2792,11.8668 C39.2792,13.0918 40.1082,13.9288 41.3712,13.9288 C42.0862,13.9288 42.6802,13.6708 43.0832,13.2288 L42.5512,12.6738 C42.2622,12.9698 41.8742,13.1308 41.4552,13.1308 C40.8622,13.1308 40.4202,12.7798 40.2912,12.2028 L43.2972,12.2028 C43.3952,10.7258 42.7792,9.7898 41.3492,9.7898 L41.3492,9.7898 Z")
        polygon(points="0.688 16.1739 0.688 21.4999 1.707 21.4999 1.707 19.3919 4.12 19.3919 4.12 18.5019 1.707 18.5019 1.707 17.0639 4.355 17.0639 4.363 16.1739")
        path(d="M6.859,18.2511 C6.189,18.2511 5.718,18.7451 5.718,19.4761 C5.718,20.2061 6.189,20.7091 6.859,20.7091 C7.536,20.7091 8.008,20.2061 8.008,19.4761 C8.008,18.7451 7.536,18.2511 6.859,18.2511 Z M6.859,17.3991 C8.137,17.3991 9.012,18.2281 9.012,19.4601 C9.012,20.7011 8.137,21.5371 6.859,21.5371 C5.588,21.5371 4.713,20.7011 4.713,19.4601 C4.713,18.2281 5.588,17.3991 6.859,17.3991 Z")
        path(d="M12.6335,17.4291 L12.6335,19.4381 C12.6335,20.0921 12.2535,20.5941 11.6145,20.6021 C11.0665,20.6021 10.7395,20.2601 10.7395,19.6891 L10.7395,17.4291 L9.7425,17.4291 L9.7425,19.9781 C9.7425,20.9371 10.3055,21.5371 11.2185,21.5371 C11.8655,21.5371 12.3525,21.2871 12.6335,20.7461 L12.6335,21.5001 L13.6305,21.5001 L13.6305,17.4291 L12.6335,17.4291 Z")
        path(d="M17.3131,17.3915 C16.6511,17.3995 16.1411,17.6505 15.8521,18.1905 L15.8521,17.4295 L14.8631,17.4295 L14.8631,21.4995 L15.8521,21.4995 L15.8521,19.4985 C15.8521,18.8295 16.2481,18.3345 16.9171,18.3275 C17.4801,18.3275 17.8231,18.6765 17.8231,19.2475 L17.8231,21.4995 L18.8201,21.4995 L18.8201,18.9585 C18.8201,17.9925 18.2491,17.3915 17.3131,17.3915")
        path(d="M21.7107,20.7163 C21.0267,20.7163 20.5617,20.2063 20.5547,19.4763 C20.5617,18.7533 21.0337,18.2363 21.7107,18.2363 C22.3957,18.2363 22.8677,18.7453 22.8677,19.4763 C22.8677,20.2063 22.3957,20.7163 21.7107,20.7163 L21.7107,20.7163 Z M22.8677,15.8543 L22.8677,18.0983 C22.5707,17.6423 22.0987,17.3913 21.4747,17.3913 C20.3337,17.3913 19.5577,18.2203 19.5577,19.4523 C19.5577,20.6933 20.3337,21.5453 21.4977,21.5453 C22.1067,21.5453 22.5777,21.2943 22.8677,20.8453 L22.8677,21.5003 L23.8567,21.5003 L23.8567,15.8543 L22.8677,15.8543 Z")
        path(d="M26.4509,20.7847 C26.0019,20.7847 25.7289,20.5637 25.7289,20.2217 C25.7289,19.8637 25.9719,19.7187 26.4969,19.7187 L27.5239,19.7187 L27.5239,20.0847 C27.4709,20.4797 27.0219,20.7847 26.4509,20.7847 L26.4509,20.7847 Z M28.5059,21.4997 L28.4979,18.8367 C28.4909,17.9317 27.8889,17.3917 26.8239,17.3917 C26.0779,17.3917 25.6219,17.5657 25.0359,17.8927 L25.3939,18.5787 C25.8119,18.3267 26.2229,18.1977 26.6029,18.1977 C27.2119,18.1977 27.5239,18.4787 27.5239,18.9517 L27.5239,19.0577 L26.3369,19.0577 C25.3479,19.0647 24.7919,19.5297 24.7919,20.2827 C24.7919,21.0047 25.3399,21.5457 26.2149,21.5457 C26.7939,21.5457 27.2499,21.3627 27.5319,21.0047 L27.5319,21.4997 L28.5059,21.4997 Z")
        path(d="M31.7697,20.5035 C31.5487,20.6095 31.3587,20.6705 31.1907,20.6705 C30.9247,20.6705 30.7657,20.5415 30.7657,20.1535 L30.7657,18.3195 L31.9297,18.3195 L31.9297,17.5965 L30.7657,17.5965 L30.7657,16.4775 L29.7837,16.4775 L29.7837,17.5965 L29.2057,17.5965 L29.2127,18.3195 L29.7837,18.3195 L29.7837,20.3285 C29.7837,21.1655 30.3157,21.5455 30.9777,21.5455 C31.3357,21.5455 31.6857,21.4395 31.9977,21.2485 L31.7697,20.5035 Z")
        path(d="M32.774,21.5 L33.763,21.5 L33.763,17.429 L32.774,17.429 L32.774,21.5 Z M33.269,15.679 C32.941,15.679 32.713,15.923 32.713,16.265 C32.713,16.6 32.941,16.851 33.269,16.851 C33.595,16.851 33.824,16.6 33.824,16.265 C33.824,15.923 33.595,15.679 33.269,15.679 L33.269,15.679 Z")
        path(d="M36.7607,18.2511 C37.4377,18.2511 37.9097,18.7451 37.9097,19.4761 C37.9097,20.2061 37.4377,20.7091 36.7607,20.7091 C36.0917,20.7091 35.6197,20.2061 35.6197,19.4761 C35.6197,18.7451 36.0917,18.2511 36.7607,18.2511 M36.7607,17.3991 C35.4897,17.3991 34.6157,18.2281 34.6157,19.4601 C34.6157,20.7011 35.4897,21.5371 36.7607,21.5371 C38.0387,21.5371 38.9147,20.7011 38.9147,19.4601 C38.9147,18.2281 38.0387,17.3991 36.7607,17.3991")
        path(d="M42.2239,17.3915 C41.5619,17.3995 41.0519,17.6505 40.7629,18.1905 L40.7629,17.4295 L39.7739,17.4295 L39.7739,21.4995 L40.7629,21.4995 L40.7629,19.4985 C40.7629,18.8295 41.1589,18.3345 41.8279,18.3275 C42.3909,18.3275 42.7339,18.6765 42.7339,19.2475 L42.7339,21.4995 L43.7309,21.4995 L43.7309,18.9585 C43.7309,17.9925 43.1599,17.3915 42.2239,17.3915")
    g#coko-img
        polygon(points="10.637 21.5072 11.348 20.6532 11.352 19.0012")
        path(d="M9.9764,25.1265 L9.9754,25.6465 C10.4304,25.7435 10.8874,25.8155 11.3354,25.8615 L11.3414,23.4875 L9.9764,25.1265 Z")
        path(d="M2.0839,5.0396 L13.8099,24.9106 C14.2979,24.8456 14.7739,24.7536 15.2279,24.6386 L3.0059,3.9236 C2.6939,4.2576 2.3899,4.6246 2.0839,5.0396")
        path(d="M10.6396,16.4199 L21.1176,4.2189 C20.7966,3.9219 20.4456,3.6299 20.0696,3.3509 L9.9096,15.1819 L10.6396,16.4199 Z")
        path(d="M8.6643,16.6315 L3.7843,22.3135 C4.0933,22.6185 4.4293,22.9135 4.8063,23.2115 L9.3943,17.8695 L8.6643,16.6315 Z")
        path(d="M6.8556,1.1477 C6.6576,1.2357 6.4536,1.3267 6.2576,1.4307 C6.0926,1.5187 5.9316,1.6187 5.7766,1.7157 L5.6896,1.7697 L14.2556,24.8457 C14.7526,24.7617 15.1936,24.6637 15.5966,24.5487 L6.9016,1.1267 L6.8556,1.1477 Z")
        path(d="M14.6891,7.3094 L20.2741,2.9744 C19.8801,2.6354 19.5151,2.3534 19.1621,2.1134 L15.3211,5.0954 L14.6891,7.3094 Z")
        polygon(points="12.5716 8.9529 13.2036 6.7389 10.1146 9.1379 10.6106 10.4749")
        path(d="M23.6901,8.3048 C23.5311,7.9288 23.3741,7.5948 23.2101,7.2868 C23.1591,7.1918 23.1031,7.1018 23.0471,7.0118 C23.0401,7.0008 23.0321,6.9888 23.0251,6.9768 L8.0241,24.9958 C8.5261,25.1718 8.9951,25.3068 9.4501,25.4078 L23.6901,8.3048 Z")
        path(d="M15.6753,18.2815 L14.9463,19.1575 L20.0213,22.7675 C20.3243,22.5185 20.6153,22.2585 20.8883,21.9895 L15.6753,18.2815 Z")
        path(d="M10.6798,16.3985 L8.2388,24.9505 C8.6238,25.0795 8.9848,25.1835 9.3308,25.2655 L11.6628,17.0975 L10.6798,16.3985 Z")
        path(d="M12.1239,15.4801 L16.1359,1.4231 C15.7599,1.2941 15.3999,1.1881 15.0449,1.1021 L11.1409,14.7811 L12.1239,15.4801 Z")
        path(d="M11.378,7.8726 L11.394,0.9166 C10.974,0.9576 10.526,1.0286 10.033,1.1326 L10.015,8.9316 L11.378,7.8726 Z")
        path(d="M0.9488,7.8059 C0.7878,8.1449 0.6368,8.5059 0.4988,8.8819 L13.3768,18.0419 L14.1058,17.1649 L0.9488,7.8059 Z")
        path(d="M5.5037,12.7167 L0.3537,16.7147 C0.5187,17.1757 0.6977,17.6027 0.8977,18.0147 L6.6617,13.5407 L5.5037,12.7167 Z")
        polygon(points="8.2247 12.3272 9.1137 11.6372 8.6167 10.3002 7.5277 11.1452")
        path(d="M8.0052,11.9551 L8.6102,12.9811 L10.0982,14.0391 L24.0592,18.4271 C24.2652,17.9591 24.4222,17.5491 24.5482,17.1541 L8.0052,11.9551 Z")
