script.
  const inputs = document.querySelectorAll('.buttons div input');

  function handleUpdate() {
    const suffix = this.dataset.sizing || '';
    document.documentElement.style.setProperty(`--${this.name}`, this.value + suffix);
  }

  inputs.forEach(input => input.addEventListener('change', handleUpdate));
  inputs.forEach(input => input.addEventListener('mousemove', handleUpdate));


//- for the next step: moving stuff around.

//- script.
//-   // target elements with the "draggable" class
//-   interact('.draggable')
//-     .draggable({
//-       // enable inertial throwing
//-       //- inertia: true,
//-       // keep the element within the area of it's parent
//-       restrict: {
//-         //- restriction: "parent",
//-         //- endOnly: true,
//-         //- elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
//-       },
//-       // enable autoScroll
//-       autoScroll: true,

//-       // call this function on every dragmove event
//-       onmove: dragMoveListener,
//-       // call this function on every dragend event
//-       onend: function (event) {
//-         var textEl = event.target.querySelector('p');

//-         textEl && (textEl.textContent =
//-           'moved a distance of '
//-           + (Math.sqrt(event.dx * event.dx +
//-                        event.dy * event.dy)|0) + 'px');
//-       }
//-     });

//-     function dragMoveListener (event) {
//-       var target = event.target,
//-           // keep the dragged position in the data-x/data-y attributes
//-           x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
//-           y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

//-       // translate the element
//-       target.style.webkitTransform =
//-       target.style.transform =
//-         'translate(' + x + 'px, ' + y + 'px)';

//-       // update the posiion attributes
//-       target.setAttribute('data-x', x);
//-       target.setAttribute('data-y', y);
//-     }


//- front cover image downloader here
//- script.
//-   html2canvas(document.getElementById('css-source'), {
//-       onrendered: function(canvas) {
//-           document.body.appendChild(canvas);

//-      }
//-   });



//- for the paper demo

script.
  const buttons = document.querySelectorAll('button');

  function show(e) {
    const layer = this.dataset.layer || "no-layer";
    //- console.log(layer);
    this.classList.toggle("active");
    document.querySelector(`#${layer}`).classList.toggle("hide");
  }

  buttons.forEach(button => {
    button.addEventListener('click', show);
  });

  const wtfbutton = document.querySelector('#what');



  wtfbutton.addEventListener('click', function() {
    const lol = document.querySelectorAll('img');
    console.log(lol);

    for (var i = 0; i < lol.length; i++) {
          lol[i].classList.toggle("wtf");;
    }
  });


  document.querySelector('#button-all').addEventListener('click', function() {
     const Allbutton = document.querySelectorAll('button');
      const lol = document.querySelectorAll('img');

      for (var i = 0; i < lol.length; i++) {
            lol[i].classList.addClass("hide");;
      }
  })
