svg(width="105px" height="27px" viewBox="0 0 105 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    g#shuttle-text(transform="translate(26.000000, 10.000000)")
        path(d="M42.1111,9.2139 L42.1111,11.4629 C42.1111,11.7069 42.1801,11.8519 42.3161,11.9029 C42.3931,11.9319 42.5011,11.9459 42.6411,11.9459 L42.6411,12.1789 L41.3471,12.1789 L41.3471,11.9459 L41.3781,11.9459 C41.5181,11.9459 41.6161,11.9209 41.6761,11.8729 C41.7481,11.8179 41.7851,11.7169 41.7851,11.5709 L41.7851,8.8399 C41.6721,8.7519 41.5301,8.7079 41.3571,8.7079 L41.3571,8.4769 L42.4581,8.4769 L44.6381,11.0129 L44.6381,9.2139 C44.6381,8.9449 44.5771,8.7879 44.4551,8.7459 C44.3841,8.7219 44.2761,8.7079 44.1301,8.7079 L44.0771,8.7079 L44.0771,8.4769 L45.4541,8.4769 L45.4541,8.7079 L45.4011,8.7079 C45.2621,8.7079 45.1641,8.7229 45.1041,8.7489 C45.0101,8.7939 44.9631,8.8809 44.9631,9.0109 L44.9631,12.1969 L44.6691,12.1969 L42.1111,9.2139 Z M37.1381,10.1009 C37.1381,10.6629 37.2561,11.1219 37.4921,11.4779 C37.7231,11.8299 38.0291,12.0069 38.4081,12.0069 C38.8771,12.0069 39.2001,11.7519 39.3781,11.2439 C39.4571,11.0079 39.4971,10.7509 39.4971,10.4689 C39.4971,9.9579 39.3911,9.5259 39.1771,9.1769 C38.9511,8.8039 38.6451,8.6179 38.2591,8.6179 C37.7961,8.6179 37.4701,8.8529 37.2781,9.3209 C37.1851,9.5489 37.1381,9.8079 37.1381,10.1009 L37.1381,10.1009 Z M36.3401,10.3879 C36.3401,9.8029 36.5321,9.3169 36.9151,8.9359 C37.2971,8.5539 37.7881,8.3629 38.3861,8.3629 C38.9481,8.3629 39.4061,8.5399 39.7601,8.8899 C40.1161,9.2419 40.2921,9.6959 40.2921,10.2559 C40.2921,10.6779 40.1861,11.0569 39.9721,11.3909 C39.7631,11.7169 39.4801,11.9539 39.1221,12.1029 C38.8711,12.2089 38.5931,12.2629 38.2851,12.2629 C37.9291,12.2629 37.6041,12.1899 37.3121,12.0419 C36.9891,11.8769 36.7431,11.6379 36.5711,11.3239 C36.4171,11.0399 36.3401,10.7269 36.3401,10.3879 L36.3401,10.3879 Z M33.5881,8.7079 L33.5881,8.4769 L35.2851,8.4769 L35.2851,8.7079 L35.1971,8.7079 C34.9261,8.7079 34.7901,8.8579 34.7901,9.1559 L34.7901,11.5139 C34.7901,11.6739 34.8231,11.7869 34.8901,11.8499 C34.9551,11.9139 35.0611,11.9459 35.2071,11.9459 L35.2851,11.9459 L35.2851,12.1789 L33.5881,12.1789 L33.5881,11.9459 L33.6641,11.9459 C33.9231,11.9459 34.0521,11.8099 34.0521,11.5369 L34.0521,9.1559 C34.0521,8.9949 34.0231,8.8799 33.9641,8.8119 C33.9041,8.7439 33.8021,8.7079 33.6581,8.7079 L33.5881,8.7079 Z M31.2381,8.7869 L31.2381,11.4999 C31.2381,11.6769 31.2761,11.7979 31.3531,11.8619 C31.4181,11.9179 31.5351,11.9459 31.7021,11.9459 L31.8301,11.9459 L31.8301,12.1789 L29.9081,12.1789 L29.9081,11.9459 L30.0881,11.9459 C30.3621,11.9459 30.5001,11.7979 30.5001,11.4999 L30.5001,8.7869 L29.8691,8.7869 C29.7421,8.7869 29.6501,8.7959 29.5951,8.8159 C29.5041,8.8469 29.4401,8.9129 29.4021,9.0139 C29.3651,9.1049 29.3291,9.2639 29.2931,9.4869 L29.0731,9.4869 L29.1691,8.3749 L29.3421,8.3749 C29.3901,8.4249 29.4251,8.4529 29.4441,8.4589 C29.4781,8.4709 29.5301,8.4769 29.5981,8.4769 L32.1391,8.4769 C32.2441,8.4769 32.3291,8.4409 32.3951,8.3749 L32.5671,8.3749 L32.6631,9.4869 L32.4451,9.4869 C32.4151,9.3039 32.3921,9.1819 32.3741,9.1209 C32.3291,8.9679 32.2651,8.8719 32.1841,8.8339 C32.1161,8.8019 32.0101,8.7869 31.8661,8.7869 L31.2381,8.7869 Z M26.5671,10.4749 L26.0761,9.0839 L25.6281,10.4749 L26.5671,10.4749 Z M26.6891,10.8039 L25.5211,10.8039 L25.2971,11.4999 C25.2431,11.6659 25.2401,11.7829 25.2891,11.8469 C25.3361,11.9129 25.4791,11.9459 25.7191,11.9459 L25.7871,11.9459 L25.7871,12.1789 L24.3711,12.1789 L24.3711,11.9459 L24.4521,11.9459 C24.5961,11.9459 24.7121,11.8929 24.7991,11.7869 C24.8601,11.7089 24.9181,11.5799 24.9761,11.3999 L25.8891,8.5609 L25.8311,8.3859 L26.6211,8.3859 L27.6871,11.4109 C27.7511,11.5889 27.8131,11.7149 27.8751,11.7869 C27.9591,11.8809 28.0741,11.9349 28.2221,11.9459 L28.2221,12.1789 L26.4861,12.1789 L26.4861,11.9459 L26.6741,11.9459 C26.8291,11.9459 26.9281,11.9089 26.9681,11.8319 C27.0071,11.7589 26.9971,11.6459 26.9411,11.4929 L26.6891,10.8039 Z M20.6261,8.7079 L20.6261,11.4869 C20.6261,11.6859 20.6531,11.8119 20.7081,11.8629 C20.7631,11.9149 20.8911,11.9399 21.0901,11.9399 C21.6341,11.9399 22.0341,11.7629 22.2891,11.4079 C22.4971,11.1159 22.6021,10.7519 22.6021,10.3149 C22.6021,9.8049 22.4701,9.4009 22.2061,9.1059 C21.9501,8.8219 21.5621,8.6799 21.0431,8.6799 C20.8941,8.6799 20.7541,8.6889 20.6261,8.7079 L20.6261,8.7079 Z M19.3931,8.7079 L19.3931,8.4769 C19.5201,8.4689 19.6451,8.4619 19.7711,8.4559 L20.0291,8.4429 C20.0471,8.4429 20.1221,8.4389 20.2531,8.4299 C20.5381,8.4099 20.7821,8.3999 20.9831,8.3999 C21.6781,8.3999 22.1831,8.4809 22.4971,8.6399 C22.8721,8.8289 23.1331,9.1309 23.2831,9.5459 C23.3591,9.7609 23.3971,9.9919 23.3971,10.2369 C23.3971,10.7579 23.2321,11.2039 22.9021,11.5709 C22.5381,11.9769 21.9341,12.1789 21.0901,12.1789 L19.3931,12.1789 L19.3931,11.9459 C19.5621,11.9459 19.6821,11.9239 19.7491,11.8789 C19.8421,11.8199 19.8881,11.7039 19.8881,11.5309 L19.8881,9.2309 C19.8881,8.9609 19.8271,8.7989 19.7061,8.7489 C19.6361,8.7229 19.5311,8.7079 19.3931,8.7079 L19.3931,8.7079 Z M15.1831,9.2139 L15.1831,11.4629 C15.1831,11.7069 15.2511,11.8519 15.3881,11.9029 C15.4651,11.9319 15.5721,11.9459 15.7121,11.9459 L15.7121,12.1789 L14.4191,12.1789 L14.4191,11.9459 L14.4501,11.9459 C14.5891,11.9459 14.6881,11.9209 14.7471,11.8729 C14.8211,11.8179 14.8571,11.7169 14.8571,11.5709 L14.8571,8.8399 C14.7441,8.7519 14.6011,8.7079 14.4291,8.7079 L14.4291,8.4769 L15.5291,8.4769 L17.7091,11.0129 L17.7091,9.2139 C17.7091,8.9449 17.6481,8.7879 17.5271,8.7459 C17.4561,8.7219 17.3471,8.7079 17.2011,8.7079 L17.1491,8.7079 L17.1491,8.4769 L18.5251,8.4769 L18.5251,8.7079 L18.4731,8.7079 C18.3341,8.7079 18.2351,8.7229 18.1761,8.7489 C18.0821,8.7939 18.0351,8.8809 18.0351,9.0109 L18.0351,12.1969 L17.7411,12.1969 L15.1831,9.2139 Z M12.2321,8.7079 L12.2321,8.4769 L13.6171,8.4769 L13.6171,8.7079 L13.5781,8.7079 C13.4051,8.7079 13.2821,8.7429 13.2071,8.8109 C13.1281,8.8859 13.0881,9.0169 13.0881,9.2029 L13.0881,10.6839 C13.0881,11.2109 12.9551,11.6099 12.6891,11.8759 C12.4331,12.1339 12.0661,12.2629 11.5881,12.2629 C11.1351,12.2629 10.7711,12.1619 10.4981,11.9599 C10.1771,11.7239 10.0161,11.3679 10.0161,10.8879 L10.0161,9.1129 C10.0161,8.9549 9.9891,8.8499 9.9351,8.7929 C9.8811,8.7369 9.7841,8.7079 9.6441,8.7079 L9.5521,8.7079 L9.5521,8.4769 L11.2231,8.4769 L11.2231,8.7079 L11.1321,8.7079 C10.8801,8.7079 10.7541,8.8429 10.7541,9.1129 L10.7541,10.8879 C10.7541,11.3299 10.9171,11.6239 11.2421,11.7649 C11.3861,11.8299 11.5461,11.8619 11.7211,11.8619 C12.0421,11.8619 12.2951,11.7699 12.4791,11.5879 C12.6711,11.3969 12.7671,11.1239 12.7671,10.7689 L12.7671,9.3209 C12.7671,9.0389 12.7071,8.8549 12.5891,8.7719 C12.5251,8.7289 12.4381,8.7079 12.3281,8.7079 L12.2321,8.7079 Z M5.4441,10.1009 C5.4441,10.6629 5.5631,11.1219 5.7991,11.4779 C6.0301,11.8299 6.3351,12.0069 6.7141,12.0069 C7.1831,12.0069 7.5061,11.7519 7.6841,11.2439 C7.7631,11.0079 7.8031,10.7509 7.8031,10.4689 C7.8031,9.9579 7.6971,9.5259 7.4831,9.1769 C7.2571,8.8039 6.9511,8.6179 6.5651,8.6179 C6.1031,8.6179 5.7761,8.8529 5.5851,9.3209 C5.4911,9.5489 5.4441,9.8079 5.4441,10.1009 L5.4441,10.1009 Z M4.6471,10.3879 C4.6471,9.8029 4.8381,9.3169 5.2221,8.9359 C5.6051,8.5539 6.0951,8.3629 6.6931,8.3629 C7.2541,8.3629 7.7131,8.5399 8.0671,8.8899 C8.4221,9.2419 8.5991,9.6959 8.5991,10.2559 C8.5991,10.6779 8.4921,11.0569 8.2791,11.3909 C8.0701,11.7169 7.7861,11.9539 7.4291,12.1029 C7.1781,12.2089 6.8991,12.2629 6.5911,12.2629 C6.2351,12.2629 5.9101,12.1899 5.6191,12.0419 C5.2961,11.8769 5.0491,11.6379 4.8781,11.3239 C4.7231,11.0399 4.6471,10.7269 4.6471,10.3879 L4.6471,10.3879 Z M1.8891,8.8039 L1.8891,10.1439 L2.6321,10.1439 C2.8681,10.1439 3.0111,10.0879 3.0571,9.9719 C3.0841,9.9109 3.0961,9.8229 3.0961,9.7089 L3.3111,9.7089 L3.3111,10.8939 L3.0961,10.8939 C3.0961,10.6109 2.9741,10.4689 2.7291,10.4689 L1.8891,10.4689 L1.8891,11.4289 C1.8891,11.6969 1.9341,11.8549 2.0221,11.9059 C2.0711,11.9329 2.1461,11.9459 2.2461,11.9459 L2.3471,11.9459 L2.3471,12.1789 L0.7531,12.1789 L0.7531,11.9459 L0.8381,11.9459 C0.9531,11.9459 1.0351,11.9209 1.0811,11.8719 C1.1281,11.8209 1.1511,11.7319 1.1511,11.6069 L1.1511,9.1969 C1.1511,9.0319 1.1331,8.9149 1.0971,8.8449 C1.0471,8.7499 0.9541,8.7019 0.8211,8.7019 L0.7531,8.7019 L0.7531,8.4769 L3.4491,8.4769 L3.4491,9.3159 L3.2551,9.3159 C3.2471,9.1419 3.2261,9.0209 3.1941,8.9549 C3.1441,8.8539 3.0531,8.8039 2.9191,8.8039 L1.8891,8.8039 Z")
        path(d="M74.3261,3.0087 C74.2971,3.0087 74.2691,2.9997 74.2691,2.9517 L74.2691,2.7797 C74.2691,1.5537 74.2691,1.2597 74.2881,1.0027 C74.3071,0.7177 74.3731,0.6037 74.6011,0.5657 C74.6971,0.5457 74.7731,0.5367 74.8391,0.5367 C74.9441,0.5367 74.9911,0.5087 74.9911,0.4517 C74.9911,0.3937 74.9341,0.3757 74.8201,0.3757 C74.4881,0.3757 73.9081,0.3937 73.7081,0.3937 C73.4801,0.3937 72.9281,0.3757 72.4821,0.3757 C72.3671,0.3757 72.3011,0.3937 72.3011,0.4517 C72.3011,0.5087 72.3581,0.5367 72.4441,0.5367 C72.5671,0.5367 72.7101,0.5457 72.7761,0.5657 C73.0431,0.6417 73.1191,0.7267 73.1381,1.0027 C73.1461,1.2597 73.1461,1.4877 73.1461,2.7137 L73.1461,4.1407 C73.1461,4.8817 73.1461,5.5187 73.1091,5.8607 C73.0811,6.0987 73.0331,6.2497 72.8621,6.2887 C72.7861,6.3077 72.6911,6.3177 72.5671,6.3177 C72.4631,6.3177 72.4341,6.3647 72.4341,6.4027 C72.4341,6.4597 72.4921,6.4897 72.5961,6.4897 C72.9281,6.4897 73.4801,6.4617 73.6701,6.4617 C73.9081,6.4617 74.4881,6.4897 75.0301,6.4897 C75.1341,6.4897 75.2001,6.4597 75.2001,6.4027 C75.2001,6.3647 75.1631,6.3177 75.0671,6.3177 C74.9441,6.3177 74.7541,6.3077 74.6401,6.2887 C74.3921,6.2497 74.3441,6.0987 74.3171,5.8697 C74.2781,5.5187 74.2691,4.9007 74.2691,4.1587 L74.2691,3.5407 C74.2691,3.5037 74.2971,3.4937 74.3261,3.4937 L77.4821,3.4937 C77.5011,3.4937 77.5301,3.5127 77.5301,3.5407 L77.5301,4.1587 C77.5301,4.9007 77.5301,5.5187 77.4911,5.8607 C77.4631,6.0987 77.4161,6.2497 77.2441,6.2887 C77.1681,6.3077 77.0731,6.3177 76.9401,6.3177 C76.8451,6.3177 76.8071,6.3647 76.8071,6.4027 C76.8071,6.4597 76.8741,6.4897 76.9881,6.4897 C77.3111,6.4897 77.9001,6.4617 78.0911,6.4617 C78.3191,6.4617 78.8701,6.4897 79.4121,6.4897 C79.5171,6.4897 79.5831,6.4597 79.5831,6.4027 C79.5831,6.3647 79.5361,6.3177 79.4501,6.3177 C79.3171,6.3177 79.1361,6.3077 79.0221,6.2887 C78.7661,6.2497 78.7181,6.0987 78.6891,5.8697 C78.6511,5.5187 78.6511,4.8817 78.6511,4.1407 L78.6511,2.7137 C78.6511,1.4877 78.6511,1.2597 78.6701,1.0027 C78.6891,0.7177 78.7561,0.6037 78.9751,0.5657 C79.0791,0.5457 79.1551,0.5367 79.2221,0.5367 C79.3171,0.5367 79.3741,0.5087 79.3741,0.4517 C79.3741,0.3937 79.3171,0.3757 79.1931,0.3757 C78.8701,0.3757 78.3191,0.3937 78.1191,0.3937 C77.9001,0.3937 77.3111,0.3757 76.8641,0.3757 C76.7401,0.3757 76.6841,0.3937 76.6841,0.4517 C76.6841,0.5087 76.7311,0.5367 76.8261,0.5367 C76.9401,0.5367 77.0831,0.5457 77.1491,0.5657 C77.4161,0.6417 77.4911,0.7267 77.5111,1.0027 C77.5211,1.2597 77.5301,1.5537 77.5301,2.7797 L77.5301,2.9517 C77.5301,2.9997 77.5011,3.0087 77.4821,3.0087 L74.3261,3.0087 Z M68.2411,4.1407 C68.2411,4.8817 68.2411,5.5187 68.2041,5.8607 C68.1751,6.0987 68.1271,6.2497 67.9561,6.2887 C67.8901,6.3077 67.7851,6.3177 67.6621,6.3177 C67.5571,6.3177 67.5281,6.3647 67.5281,6.4027 C67.5281,6.4597 67.5861,6.4897 67.6901,6.4897 C68.0231,6.4897 68.5931,6.4617 68.7831,6.4617 C69.0211,6.4617 69.5821,6.4897 70.1341,6.4897 C70.2291,6.4897 70.2951,6.4597 70.2951,6.4027 C70.2951,6.3647 70.2571,6.3177 70.1621,6.3177 C70.0381,6.3177 69.8481,6.3077 69.7341,6.2887 C69.4871,6.2497 69.4401,6.0987 69.4111,5.8697 C69.3731,5.5187 69.3631,4.8817 69.3631,4.1407 L69.3631,0.8697 L70.4181,0.8887 C71.1701,0.8987 71.3881,1.1457 71.4071,1.3547 L71.4171,1.4407 C71.4271,1.5637 71.4461,1.6017 71.5121,1.6017 C71.5601,1.6017 71.5781,1.5537 71.5881,1.4687 C71.5881,1.2597 71.6071,0.6597 71.6071,0.4897 C71.6071,0.3657 71.5971,0.3187 71.5401,0.3187 C71.5121,0.3187 71.4461,0.3377 71.3121,0.3557 C71.1891,0.3757 71.0081,0.3937 70.7421,0.3937 L67.3481,0.3937 C67.0721,0.3937 66.7581,0.3847 66.5111,0.3557 C66.3021,0.3277 66.2161,0.2617 66.1501,0.2617 C66.1021,0.2617 66.0741,0.3087 66.0551,0.4137 C66.0361,0.4797 65.8741,1.2597 65.8741,1.3927 C65.8741,1.4787 65.8931,1.5257 65.9511,1.5257 C66.0071,1.5257 66.0261,1.4877 66.0461,1.4207 C66.0641,1.3647 66.1021,1.2597 66.1881,1.1457 C66.3111,0.9647 66.5111,0.9077 66.9971,0.8987 L68.2411,0.8697 L68.2411,4.1407 Z M62.0341,0.9357 C62.0341,0.8697 62.0531,0.8407 62.1091,0.8217 C62.1951,0.8037 62.3951,0.7937 62.6041,0.7937 C63.0991,0.7937 63.8781,1.0887 63.8781,2.2287 C63.8781,2.8947 63.5931,3.2467 63.3361,3.4267 C63.1931,3.5317 63.0791,3.5607 62.7461,3.5607 C62.5371,3.5607 62.2901,3.5407 62.1091,3.4837 C62.0531,3.4557 62.0341,3.4267 62.0341,3.3417 L62.0341,0.9357 Z M60.9691,4.1407 C60.9691,4.8817 60.9691,5.5187 60.9311,5.8607 C60.9021,6.0987 60.8551,6.2497 60.6841,6.2887 C60.6081,6.3077 60.5121,6.3177 60.3891,6.3177 C60.2841,6.3177 60.2561,6.3647 60.2561,6.4027 C60.2561,6.4597 60.3121,6.4897 60.4171,6.4897 C60.7501,6.4897 61.2821,6.4617 61.4441,6.4617 C61.5681,6.4617 62.2621,6.4897 62.7461,6.4897 C62.8511,6.4897 62.9181,6.4597 62.9181,6.4027 C62.9181,6.3647 62.8791,6.3177 62.8131,6.3177 C62.7081,6.3177 62.5281,6.3077 62.4051,6.2887 C62.1481,6.2497 62.1091,6.0987 62.0811,5.8607 C62.0431,5.5187 62.0341,4.8907 62.0341,4.1407 L62.0341,4.0267 C62.0341,3.9787 62.0621,3.9597 62.1001,3.9597 L62.8511,3.9787 C62.9081,3.9787 62.9551,3.9877 63.0031,4.0357 C63.1081,4.1587 63.4591,4.7007 63.7921,5.1387 C64.2581,5.7657 64.5711,6.1457 64.9331,6.3267 C65.1521,6.4397 65.3801,6.4897 65.8461,6.4897 L66.6441,6.4897 C66.7491,6.4897 66.8061,6.4707 66.8061,6.4027 C66.8061,6.3647 66.7681,6.3177 66.7021,6.3177 C66.6351,6.3177 66.5881,6.3177 66.5021,6.2987 C66.3691,6.2687 66.0741,6.2317 65.6081,5.7657 C65.1041,5.2617 64.5151,4.5297 63.7731,3.6177 C64.5911,2.9607 64.9331,2.4287 64.9331,1.8297 C64.9331,1.2877 64.5811,0.8787 64.3441,0.7177 C63.8971,0.4227 63.2881,0.3757 62.7561,0.3757 C62.4991,0.3757 61.7391,0.3937 61.4541,0.3937 C61.2821,0.3937 60.7501,0.3757 60.3121,0.3757 C60.1891,0.3757 60.1231,0.3937 60.1231,0.4517 C60.1231,0.5087 60.1791,0.5367 60.2651,0.5367 C60.3891,0.5367 60.5321,0.5457 60.5981,0.5657 C60.8641,0.6417 60.9401,0.7267 60.9601,1.0027 C60.9691,1.2597 60.9691,1.4877 60.9691,2.7137 L60.9691,4.1407 Z M56.2441,6.1557 C54.6661,6.1557 53.7151,4.8437 53.7151,3.1797 C53.7151,1.1837 54.8081,0.6887 55.7401,0.6887 C57.0901,0.6887 58.1641,1.7917 58.1641,3.5787 C58.1641,5.8797 56.8331,6.1557 56.2441,6.1557 L56.2441,6.1557 Z M55.9021,6.5937 C58.0601,6.5937 59.4101,5.1387 59.4101,3.2847 C59.4101,1.4297 58.0981,0.2617 55.9871,0.2617 C53.4491,0.2617 52.4791,2.0487 52.4791,3.4267 C52.4791,4.8627 53.4681,6.5937 55.9021,6.5937 L55.9021,6.5937 Z M45.3111,6.2987 C45.3871,6.5087 45.4341,6.5937 45.5391,6.5937 C45.6631,6.5937 45.7101,6.4987 45.8631,6.1647 C46.2041,5.4237 47.3271,2.5617 47.4691,2.2197 L47.4881,2.2197 L49.1901,6.2037 C49.3131,6.4987 49.3701,6.5937 49.4841,6.5937 C49.6081,6.5937 49.6561,6.4987 49.7511,6.2127 C50.1601,5.0047 51.0151,2.4387 51.4051,1.4207 C51.5761,0.9547 51.6721,0.6507 51.8711,0.5747 C51.9661,0.5457 52.0801,0.5367 52.1661,0.5367 C52.2411,0.5367 52.2791,0.4987 52.2791,0.4417 C52.2791,0.3937 52.2221,0.3757 52.1271,0.3757 C51.8521,0.3757 51.4911,0.3937 51.4331,0.3937 C51.3571,0.3937 50.9771,0.3757 50.5401,0.3757 C50.4061,0.3757 50.3401,0.3937 50.3401,0.4517 C50.3401,0.4987 50.4061,0.5367 50.4821,0.5367 C50.8161,0.5367 50.8911,0.6317 50.8911,0.7657 C50.8911,0.8787 50.8631,1.0407 50.8061,1.2307 C50.5121,2.1717 49.8751,4.3017 49.7131,4.7677 L49.6841,4.7677 L48.0111,0.7747 C47.9071,0.5177 47.8301,0.3937 47.7351,0.3937 C47.6591,0.3937 47.5741,0.4607 47.4881,0.6887 L45.8901,4.8207 L45.8631,4.8207 C45.7391,4.4497 44.9791,2.0027 44.8361,1.4707 C44.7311,1.0987 44.6551,0.8317 44.6551,0.7267 C44.6551,0.6417 44.6651,0.5937 44.7411,0.5657 C44.8071,0.5457 44.8831,0.5367 44.9501,0.5367 C45.0351,0.5367 45.1021,0.5087 45.1021,0.4517 C45.1021,0.3937 45.0451,0.3757 44.9211,0.3757 C44.4361,0.3757 44.0281,0.3937 43.9521,0.3937 C43.8761,0.3937 43.4091,0.3757 42.9821,0.3757 C42.8571,0.3757 42.7901,0.3937 42.7901,0.4517 C42.7901,0.5087 42.8371,0.5367 42.9231,0.5367 C43.0011,0.5367 43.1631,0.5457 43.2481,0.6037 C43.3721,0.6797 43.4381,0.8697 43.5431,1.1647 L45.3111,6.2987 Z M38.8371,4.1407 C38.8371,4.8817 38.8371,5.5187 38.7981,5.8607 C38.7701,6.0987 38.7231,6.2497 38.5511,6.2887 C38.4761,6.3077 38.3811,6.3177 38.2571,6.3177 C38.1521,6.3177 38.1241,6.3647 38.1241,6.4027 C38.1241,6.4597 38.1811,6.4897 38.2851,6.4897 C38.4571,6.4897 38.6661,6.4807 38.8651,6.4707 C39.0651,6.4707 39.2451,6.4597 39.3401,6.4597 C39.5881,6.4597 39.9011,6.4707 40.3101,6.4807 C40.7191,6.4987 41.2231,6.5087 41.8511,6.5087 C42.1641,6.5087 42.2401,6.5087 42.2971,6.2987 C42.3451,6.1357 42.4111,5.5847 42.4111,5.4047 C42.4111,5.3187 42.4021,5.2147 42.3351,5.2147 C42.2791,5.2147 42.2591,5.2517 42.2401,5.3377 C42.1841,5.6707 42.0881,5.8417 41.8791,5.9367 C41.6601,6.0317 41.3091,6.0417 41.0891,6.0417 C40.2351,6.0417 39.9781,5.9187 39.9591,5.3657 C39.9491,5.1287 39.9591,4.4437 39.9591,4.1687 L39.9591,3.5227 C39.9591,3.4747 39.9681,3.4367 40.0061,3.4367 C40.2151,3.4367 41.1661,3.4557 41.3181,3.4747 C41.6321,3.5037 41.7361,3.6267 41.7841,3.7887 C41.8031,3.8927 41.8031,3.9967 41.8121,4.0827 C41.8121,4.1207 41.8311,4.1497 41.8881,4.1497 C41.9641,4.1497 41.9741,4.0357 41.9741,3.9687 C41.9741,3.9117 41.9931,3.5877 42.0121,3.4267 C42.0601,3.0187 42.0791,2.8847 42.0791,2.8377 C42.0791,2.7897 42.0501,2.7517 42.0121,2.7517 C41.9741,2.7517 41.9451,2.7997 41.8791,2.8567 C41.8031,2.9417 41.6801,2.9607 41.4801,2.9797 C41.2891,2.9997 40.2061,2.9997 40.0161,2.9997 C39.9681,2.9997 39.9591,2.9607 39.9591,2.9137 L39.9591,0.9177 C39.9591,0.8697 39.9781,0.8407 40.0161,0.8407 C40.1871,0.8407 41.1851,0.8597 41.3281,0.8787 C41.7451,0.9177 41.8121,1.0317 41.8791,1.1737 C41.9271,1.2687 41.9361,1.4117 41.9361,1.4687 C41.9361,1.5357 41.9451,1.5727 42.0031,1.5727 C42.0691,1.5727 42.0881,1.4787 42.0981,1.4407 C42.1171,1.3447 42.1351,0.9937 42.1451,0.9077 C42.1641,0.5367 42.2111,0.4417 42.2111,0.3847 C42.2111,0.3467 42.2021,0.3087 42.1541,0.3087 C42.1171,0.3087 42.0691,0.3377 42.0211,0.3467 C41.9551,0.3557 41.8221,0.3847 41.6701,0.3937 C41.5081,0.4037 39.6541,0.3937 39.3891,0.3937 C39.1501,0.3937 38.6181,0.3757 38.1811,0.3757 C38.0571,0.3757 37.9901,0.3937 37.9901,0.4517 C37.9901,0.5087 38.0481,0.5367 38.1341,0.5367 C38.2571,0.5367 38.3991,0.5457 38.4661,0.5657 C38.7331,0.6417 38.8081,0.7267 38.8281,1.0027 C38.8371,1.2597 38.8371,1.4877 38.8371,2.7137 L38.8371,4.1407 Z M34.7111,2.7137 C34.7111,1.4877 34.7111,1.2597 34.7301,1.0027 C34.7481,0.7177 34.8151,0.6037 35.0441,0.5657 C35.1391,0.5457 35.2721,0.5367 35.3671,0.5367 C35.4711,0.5367 35.5191,0.5087 35.5191,0.4517 C35.5191,0.3937 35.4621,0.3757 35.3381,0.3757 C35.0151,0.3757 34.3311,0.3937 34.1311,0.3937 C33.9031,0.3937 33.3701,0.3757 32.9811,0.3757 C32.8571,0.3757 32.8001,0.3937 32.8001,0.4517 C32.8001,0.5087 32.8471,0.5367 32.9431,0.5367 C33.0471,0.5367 33.1511,0.5457 33.2181,0.5657 C33.4841,0.6417 33.5601,0.7267 33.5791,1.0027 C33.5891,1.2597 33.5891,1.4877 33.5891,2.7137 L33.5891,4.1407 C33.5891,4.8817 33.5891,5.5187 33.5501,5.8607 C33.5231,6.0987 33.4751,6.2497 33.3031,6.2887 C33.2271,6.3077 33.1331,6.3177 33.0091,6.3177 C32.9041,6.3177 32.8761,6.3647 32.8761,6.4027 C32.8761,6.4597 32.9331,6.4897 33.0381,6.4897 C33.2081,6.4897 33.4181,6.4807 33.6171,6.4707 C33.8171,6.4707 33.9971,6.4597 34.0931,6.4597 C34.4351,6.4597 34.7871,6.4707 35.2051,6.4807 C35.6241,6.4987 36.1081,6.5087 36.7071,6.5087 C37.1441,6.5087 37.1831,6.4707 37.2401,6.2887 C37.3061,6.0507 37.3631,5.4517 37.3631,5.3567 C37.3631,5.2617 37.3441,5.1757 37.2871,5.1757 C37.2211,5.1757 37.2011,5.2237 37.1921,5.2997 C37.1731,5.4517 37.0881,5.6797 36.9831,5.7847 C36.7741,6.0037 36.4501,6.0137 36.0041,6.0137 C35.3571,6.0137 35.0341,5.9657 34.8921,5.8417 C34.7111,5.6897 34.7111,5.1757 34.7111,4.1407 L34.7111,2.7137 Z M28.6841,4.1407 C28.6841,4.8817 28.6841,5.5187 28.6451,5.8607 C28.6171,6.0987 28.5691,6.2497 28.3981,6.2887 C28.3321,6.3077 28.2271,6.3177 28.1041,6.3177 C27.9991,6.3177 27.9701,6.3647 27.9701,6.4027 C27.9701,6.4597 28.0271,6.4897 28.1321,6.4897 C28.4651,6.4897 29.0351,6.4617 29.2251,6.4617 C29.4631,6.4617 30.0241,6.4897 30.5751,6.4897 C30.6701,6.4897 30.7371,6.4597 30.7371,6.4027 C30.7371,6.3647 30.6991,6.3177 30.6031,6.3177 C30.4801,6.3177 30.2901,6.3077 30.1761,6.2887 C29.9291,6.2497 29.8821,6.0987 29.8521,5.8697 C29.8151,5.5187 29.8051,4.8817 29.8051,4.1407 L29.8051,0.8697 L30.8601,0.8887 C31.6111,0.8987 31.8311,1.1457 31.8491,1.3547 L31.8591,1.4407 C31.8681,1.5637 31.8871,1.6017 31.9541,1.6017 C32.0011,1.6017 32.0211,1.5537 32.0301,1.4687 C32.0301,1.2597 32.0491,0.6597 32.0491,0.4897 C32.0491,0.3657 32.0401,0.3187 31.9821,0.3187 C31.9541,0.3187 31.8871,0.3377 31.7541,0.3557 C31.6311,0.3757 31.4501,0.3937 31.1841,0.3937 L27.7901,0.3937 C27.5141,0.3937 27.2011,0.3847 26.9531,0.3557 C26.7441,0.3277 26.6581,0.2617 26.5921,0.2617 C26.5441,0.2617 26.5161,0.3087 26.4971,0.4137 C26.4781,0.4797 26.3161,1.2597 26.3161,1.3927 C26.3161,1.4787 26.3361,1.5257 26.3921,1.5257 C26.4491,1.5257 26.4681,1.4877 26.4871,1.4207 C26.5061,1.3647 26.5441,1.2597 26.6301,1.1457 C26.7541,0.9647 26.9531,0.9077 27.4381,0.8987 L28.6841,0.8697 L28.6841,4.1407 Z M22.6661,4.1407 C22.6661,4.8817 22.6661,5.5187 22.6281,5.8607 C22.5991,6.0987 22.5521,6.2497 22.3811,6.2887 C22.3141,6.3077 22.2091,6.3177 22.0861,6.3177 C21.9811,6.3177 21.9531,6.3647 21.9531,6.4027 C21.9531,6.4597 22.0091,6.4897 22.1141,6.4897 C22.4471,6.4897 23.0171,6.4617 23.2071,6.4617 C23.4451,6.4617 24.0061,6.4897 24.5581,6.4897 C24.6521,6.4897 24.7191,6.4597 24.7191,6.4027 C24.7191,6.3647 24.6811,6.3177 24.5861,6.3177 C24.4621,6.3177 24.2721,6.3077 24.1581,6.2887 C23.9111,6.2497 23.8641,6.0987 23.8351,5.8697 C23.7971,5.5187 23.7881,4.8817 23.7881,4.1407 L23.7881,0.8697 L24.8421,0.8887 C25.5941,0.8987 25.8131,1.1457 25.8311,1.3547 L25.8411,1.4407 C25.8501,1.5637 25.8691,1.6017 25.9361,1.6017 C25.9841,1.6017 26.0031,1.5537 26.0121,1.4687 C26.0121,1.2597 26.0311,0.6597 26.0311,0.4897 C26.0311,0.3657 26.0221,0.3187 25.9651,0.3187 C25.9361,0.3187 25.8691,0.3377 25.7371,0.3557 C25.6121,0.3757 25.4321,0.3937 25.1661,0.3937 L21.7721,0.3937 C21.4961,0.3937 21.1831,0.3847 20.9351,0.3557 C20.7261,0.3277 20.6401,0.2617 20.5741,0.2617 C20.5271,0.2617 20.4981,0.3087 20.4791,0.4137 C20.4601,0.4797 20.2991,1.2597 20.2991,1.3927 C20.2991,1.4787 20.3171,1.5257 20.3741,1.5257 C20.4321,1.5257 20.4501,1.4877 20.4691,1.4207 C20.4891,1.3647 20.5271,1.2597 20.6121,1.1457 C20.7361,0.9647 20.9351,0.9077 21.4201,0.8987 L22.6661,0.8697 L22.6661,4.1407 Z M13.9671,3.9027 C13.9671,5.0717 14.3001,5.6707 14.7271,6.0417 C15.3361,6.5757 16.2011,6.5937 16.6381,6.5937 C17.1801,6.5937 17.8171,6.5087 18.4061,6.0137 C19.1101,5.4327 19.2051,4.4827 19.2051,3.5787 L19.2051,2.7137 C19.2051,1.4877 19.2151,1.2597 19.2241,1.0027 C19.2431,0.7177 19.3001,0.6037 19.5281,0.5657 C19.6331,0.5457 19.6811,0.5367 19.7751,0.5367 C19.8711,0.5367 19.9181,0.5087 19.9181,0.4517 C19.9181,0.3937 19.8611,0.3757 19.7471,0.3757 C19.4241,0.3757 18.8631,0.3937 18.7671,0.3937 C18.7581,0.3937 18.1981,0.3757 17.7701,0.3757 C17.6551,0.3757 17.5981,0.3937 17.5981,0.4517 C17.5981,0.5087 17.6461,0.5367 17.7411,0.5367 C17.8361,0.5367 17.9791,0.5457 18.0451,0.5657 C18.3111,0.6417 18.3781,0.7267 18.3971,1.0027 C18.4061,1.2597 18.4161,1.4877 18.4161,2.7137 L18.4161,3.7317 C18.4161,4.5577 18.3971,5.2617 17.9311,5.6987 C17.5981,6.0227 17.1711,6.1267 16.8091,6.1267 C16.5241,6.1267 16.1251,6.0987 15.7541,5.8037 C15.3461,5.4807 15.1171,5.0247 15.1171,3.8457 L15.1171,2.7137 C15.1171,1.4877 15.1171,1.2597 15.1361,1.0027 C15.1551,0.7177 15.2221,0.6037 15.4401,0.5657 C15.5451,0.5457 15.5931,0.5367 15.6881,0.5367 C15.7731,0.5367 15.8211,0.5087 15.8211,0.4517 C15.8211,0.3937 15.7641,0.3757 15.6401,0.3757 C15.3361,0.3757 14.7741,0.3937 14.5661,0.3937 C14.3191,0.3937 13.7571,0.3757 13.3111,0.3757 C13.1881,0.3757 13.1301,0.3937 13.1301,0.4517 C13.1301,0.5087 13.1781,0.5367 13.2731,0.5367 C13.3871,0.5367 13.5291,0.5457 13.5961,0.5657 C13.8621,0.6417 13.9391,0.7177 13.9571,1.0027 C13.9761,1.2597 13.9671,1.4877 13.9671,2.7137 L13.9671,3.9027 Z M7.2641,3.0087 C7.2361,3.0087 7.2071,2.9997 7.2071,2.9517 L7.2071,2.7797 C7.2071,1.5537 7.2071,1.2597 7.2261,1.0027 C7.2451,0.7177 7.3121,0.6037 7.5401,0.5657 C7.6351,0.5457 7.7111,0.5367 7.7781,0.5367 C7.8831,0.5367 7.9301,0.5087 7.9301,0.4517 C7.9301,0.3937 7.8731,0.3757 7.7591,0.3757 C7.4261,0.3757 6.8461,0.3937 6.6471,0.3937 C6.4181,0.3937 5.8671,0.3757 5.4201,0.3757 C5.3061,0.3757 5.2401,0.3937 5.2401,0.4517 C5.2401,0.5087 5.2971,0.5367 5.3821,0.5367 C5.5061,0.5367 5.6491,0.5457 5.7151,0.5657 C5.9811,0.6417 6.0571,0.7267 6.0761,1.0027 C6.0861,1.2597 6.0861,1.4877 6.0861,2.7137 L6.0861,4.1407 C6.0861,4.8817 6.0861,5.5187 6.0471,5.8607 C6.0191,6.0987 5.9711,6.2497 5.8001,6.2887 C5.7241,6.3077 5.6301,6.3177 5.5061,6.3177 C5.4011,6.3177 5.3731,6.3647 5.3731,6.4027 C5.3731,6.4597 5.4301,6.4897 5.5341,6.4897 C5.8671,6.4897 6.4181,6.4617 6.6081,6.4617 C6.8461,6.4617 7.4261,6.4897 7.9681,6.4897 C8.0731,6.4897 8.1391,6.4597 8.1391,6.4027 C8.1391,6.3647 8.1011,6.3177 8.0061,6.3177 C7.8831,6.3177 7.6921,6.3077 7.5791,6.2887 C7.3311,6.2497 7.2841,6.0987 7.2551,5.8697 C7.2171,5.5187 7.2071,4.9007 7.2071,4.1587 L7.2071,3.5407 C7.2071,3.5037 7.2361,3.4937 7.2641,3.4937 L10.4211,3.4937 C10.4401,3.4937 10.4681,3.5127 10.4681,3.5407 L10.4681,4.1587 C10.4681,4.9007 10.4681,5.5187 10.4301,5.8607 C10.4011,6.0987 10.3541,6.2497 10.1831,6.2887 C10.1071,6.3077 10.0121,6.3177 9.8791,6.3177 C9.7841,6.3177 9.7461,6.3647 9.7461,6.4027 C9.7461,6.4597 9.8121,6.4897 9.9261,6.4897 C10.2501,6.4897 10.8391,6.4617 11.0291,6.4617 C11.2571,6.4617 11.8081,6.4897 12.3511,6.4897 C12.4551,6.4897 12.5221,6.4597 12.5221,6.4027 C12.5221,6.3647 12.4741,6.3177 12.3891,6.3177 C12.2561,6.3177 12.0751,6.3077 11.9611,6.2887 C11.7051,6.2497 11.6571,6.0987 11.6281,5.8697 C11.5901,5.5187 11.5901,4.8817 11.5901,4.1407 L11.5901,2.7137 C11.5901,1.4877 11.5901,1.2597 11.6091,1.0027 C11.6281,0.7177 11.6951,0.6037 11.9131,0.5657 C12.0181,0.5457 12.0941,0.5367 12.1611,0.5367 C12.2561,0.5367 12.3131,0.5087 12.3131,0.4517 C12.3131,0.3937 12.2561,0.3757 12.1321,0.3757 C11.8081,0.3757 11.2571,0.3937 11.0571,0.3937 C10.8391,0.3937 10.2501,0.3757 9.8031,0.3757 C9.6791,0.3757 9.6221,0.3937 9.6221,0.4517 C9.6221,0.5087 9.6701,0.5367 9.7651,0.5367 C9.8791,0.5367 10.0221,0.5457 10.0881,0.5657 C10.3541,0.6417 10.4301,0.7267 10.4491,1.0027 C10.4591,1.2597 10.4681,1.5537 10.4681,2.7797 L10.4681,2.9517 C10.4681,2.9997 10.4401,3.0087 10.4211,3.0087 L7.2641,3.0087 Z M2.0451,6.5937 C2.4921,6.5937 3.0431,6.5467 3.4431,6.2597 C4.0511,5.8327 4.2791,5.3477 4.2791,4.7487 C4.2791,4.0157 3.9371,3.3987 2.8341,2.7897 L2.4921,2.5997 C1.7411,2.1817 1.6081,1.8967 1.6081,1.5357 C1.6081,0.9837 2.1501,0.6707 2.7491,0.6707 C3.2911,0.6707 3.5571,0.8987 3.6801,1.0497 C3.8611,1.2597 3.8991,1.5057 3.8991,1.5827 C3.8991,1.6777 3.9271,1.7257 3.9851,1.7257 C4.0511,1.7257 4.0891,1.6397 4.0891,1.4687 C4.0891,0.8317 4.1181,0.6037 4.1181,0.4987 C4.1181,0.4417 4.0801,0.4137 4.0041,0.3937 C3.7851,0.3377 3.3571,0.2617 2.8151,0.2617 C1.6561,0.2617 0.7051,0.8987 0.7051,1.8877 C0.7051,2.5997 1.0281,3.1417 2.0171,3.7217 L2.5021,4.0067 C3.2431,4.4437 3.3291,4.7957 3.3291,5.1477 C3.3291,5.7177 2.8911,6.1737 2.1691,6.1737 C1.6461,6.1737 1.0181,5.9747 0.8381,5.3767 C0.7901,5.2337 0.7621,5.0617 0.7621,4.9577 C0.7621,4.9007 0.7521,4.8237 0.6761,4.8237 C0.6101,4.8237 0.5711,4.9097 0.5711,5.0337 C0.5621,5.1667 0.5241,5.6707 0.5241,6.1087 C0.5241,6.2887 0.5521,6.3267 0.6861,6.3837 C1.0471,6.5467 1.5611,6.5937 2.0451,6.5937 L2.0451,6.5937 Z")
    g#shuttle-img
        path(d="M8.7627,5.4078 C4.5967,7.4008 2.0107,11.1778 2.1537,14.6198 C2.2687,17.3788 4.4117,20.8008 7.9527,22.9068 C3.6217,23.0388 1.0457,17.7608 1.1517,15.2038 C0.5337,18.1788 1.6127,23.7918 7.3227,25.8198 C9.2037,26.4878 12.7197,26.5918 14.2897,25.4598 C17.0047,23.5058 15.9127,20.8128 13.6767,18.9778 C11.0897,16.8548 8.8187,15.4488 7.5147,12.5658 C6.6287,10.6078 6.3097,8.1678 8.7627,5.4078" )
        path(d="M10.9839,14.6098 C7.3179,10.8518 8.0839,8.3108 10.4279,5.0548 C11.5199,3.5388 12.5979,2.0238 12.4159,0.0478 C17.9969,6.0048 12.7769,7.9508 15.5179,10.9998 C15.9059,9.3178 17.0889,7.5598 18.7419,6.2948 C18.2839,11.0278 19.8449,11.1768 21.2169,14.0918 C23.3349,18.5888 20.4049,23.5798 16.0329,25.6568 C17.8889,23.8338 18.0819,21.3308 15.8959,18.8658 C14.7839,17.6118 12.7669,16.4368 10.9839,14.6098" )
        path(d="M10.9839,14.6098 C7.3179,10.8518 8.0839,8.3108 10.4279,5.0548 C11.5199,3.5388 12.5979,2.0238 12.4159,0.0478 C17.9969,6.0048 12.7769,7.9508 15.5179,10.9998 C15.9059,9.3178 17.0889,7.5598 18.7419,6.2948 C18.2839,11.0278 19.8449,11.1768 21.2169,14.0918 C23.3349,18.5888 20.4049,23.5798 16.0329,25.6568 C17.8889,23.8338 18.0819,21.3308 15.8959,18.8658 C14.7839,17.6118 12.7669,16.4368 10.9839,14.6098" )
