.buttons
  h2 choose your own colors

    //- label(for="color-text") Text color
  input#text(type="color" name="color-text" value="#ffffff")

    //- label(for="color-back") Back color
  input#back(type="color" name="color-back" value="#c4e3f3")

    //- label(for="color-front") Front color
  input#front(type="color" name="color-front" value="#495776")