<!DOCTYPE html>
html(lang="en")

  head
    meta(charset="UTF-8")
    title Demo for the icons
    //- link(href="css/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/cover.css" type="text/css")
    script(src="js/interact.js" type="text/javascript")
  body
    .buttons
      h2 choose your own colors
      #text-area
        //- label(for="color-text") Text color
        input#text(type="color" name="color-text" value="#ffffff")
      #back-area
        //- label(for="color-back") Back color
        input#back(type="color" name="color-back" value="#c4e3f3")
      #front-area
        //- label(for="color-front") Front color
        input#front(type="color" name="color-front" value="#495776")
    .page
      .spread
        //- background image that would run on the spread
        .background
        .backcover
          .logos.draggable#drag-logos
            include includes/logos
          p(contenteditable="true" spellcheck="false") This book is CC-BY-SA.
            br
            | For more information on the Cabbage Tree Method,
            br
            | see: https://www.adamhyde.net and https://www.cabbagetree.org
        .spinecover
        .frontcover
          p.version(contenteditable="true" spellcheck="false") version 0.2
          hgroup#drag-titles
            h1.draggable(contenteditable="true" spellcheck="false") The Cabbage Tree Method
            p.draggable(contenteditable="true" spellcheck="false") Open Source Collaborative Product Development
    include includes/_scripts.pug